.button {
  color: @dark;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background: @light-gold;
  cursor: pointer;
}

.button--white {
  background-color: @white;
}

.button--text {
  background: 0;
}