.transport-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.transport-list__item {
  display: block;
  width: 21px;
  height: 21px;
  opacity: 0.15;
  background-repeat: no-repeat;
  background-position: center;
}

.transport-list__item--active {
  opacity: 1;
}

.transport-list__item--plane {
  width: 19px;
  background-image: url("../img/sprite.svg#plane-dark-slate-blue");
}

.transport-list__item--bus {
  width: 17px;
  background-image: url("../img/sprite.svg#bus-dark-slate-blue");
}

.transport-list__item--bike {
  width: 24px;
  background-image: url("../img/sprite.svg#bike-dark-slate-blue");
}

.transport-list__item--foot {
  width: 20px;
  background-image: url("../img/sprite.svg#foot-dark-slate-blue");
}

.transport-list.transport-list--editable {
  justify-content: center;
  padding: 25px 0;
}

.transport-list--editable .transport-list__item {
  width: 43px;
  height: 43px;
  opacity: 1;
  background-color: @white;
  border-radius: 50%;
}

.transport-list--editable .transport-list__item:not(:last-child) {
  margin-right: 8px;
}

.transport-list--editable .transport-list__item--plane {
  background-size: 19px 21px;
}

.transport-list--editable .transport-list__item--bus {
  background-size: 17px 21px;
}

.transport-list--editable .transport-list__item--bike {
  background-size: 24px 21px;
}

.transport-list--editable .transport-list__item--foot {
  background-size: 20px 21px;

  @media @only-mobile {
    border-radius: 50%;
    background-color: @pale-grey;
  }
}

.transport-list--catalog .transport-list__item {
  width: 32px;
  height: 32px;
}

.transport-list--catalog .transport-list__item--plane {
  background-size: 14px 16px;

  @media @from-tablet {
    background-size: 19px 21px;
  }
}

.transport-list--catalog .transport-list__item--bus {
  background-size: 13px 16px;

  @media @from-tablet {
    background-size: 17px 21px;
  }
}

.transport-list--catalog .transport-list__item--bike {
  background-size: 19px 17px;

  @media @from-tablet {
    background-size: 24px 21px;
  }
}

.transport-list--catalog .transport-list__item--foot {
  background-size: 15px 17px;

  @media @from-tablet {
    background-size: 20px 21px;
  }
}
