.steps {
  counter-reset: steps;
}

.steps__item {
  color: @dark-blue-grey;
  padding: 20px 25px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  &::before {
    counter-increment: steps;
    content: counter(steps);
    color: @white;
  }

  &:nth-child(4n + 1) {
    background-color: @mango-two;
  }

  &:nth-child(4n + 2) {
    background-color: @mango;
  }

  &:nth-child(4n + 3) {
    background-color: @mango-three;
  }

  &:nth-child(4n + 4) {
    background-color: @light-gold;
  }
}
