.main-menu__toggle-wrapper {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;

  &::-webkit-details-marker {
    display: none;
  }
}


.main-menu[open] .main-menu__trigger--open {
  display: none;
}

.main-menu:not([open]) .main-menu__trigger--close {
  display: none;
}

.main-menu__trigger {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main-menu__trigger--open {
  background-image: url(../img/sprite.svg#menu-white);
  background-size: 25px;
}

.main-menu__trigger--close {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../img/sprite.svg#menu-close-silver);
  background-size: 19px;
}
