.country-popup {
  position: absolute;
  background-color: @white;
  z-index: 1;
  width: 100%;
  top: 42px;

  @media @from-tablet {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 34px;
    padding-left: 27px;
    top: 70px;
  }
}

.country-popup__alphabet {
  display: flex;
  flex-flow: row wrap;
}

.country-popup__letter {
  width: 20%;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid @cloudy-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  color: @dark-slate-blue;

  @media @only-mobile {
    &:nth-child(n + 6) {
      margin-top: -1px;
      height: 43px;
    }

    &:not(:nth-child(5n + 1)) {
      margin-left: -1px;
      width: calc(20% + 1px);
    }
  }

  @media @only-tablet {
    &:nth-child(n + 7) {
      margin-top: -1px;
      height: 71px;
    }

    &:not(:nth-child(6n + 1)) {
      margin-left: -1px;
      width: calc(16.666% + 1px);
    }
  }

  @media @from-tablet {
    width: 16.666%;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  @media @from-desktop {
    width: 60px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
  }
}
