.companion {
  color: @greyish-brown;
  background-color: @white;
  border-radius: 20px;
  max-width: calc(100% - 50px);
  box-sizing: border-box;
  margin: 0 auto 10px;
  padding: 25px;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.companion__photo {
  @media @only-mobile {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  @media @only-tablet {
    border-radius: 10px;
    width: 190px;
    height: 190px;
  }

  @media @from-desktop {
    width: 285px;
    height: 285px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: -25px;
    margin-top: -25px;
  }
}

.companion__name {
  color: @dark-slate-blue;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  position: relative;

  @media @only-mobile {
    width: calc(100% - 86px);
    display: flex;
    flex-flow: column wrap;
    width: calc(100% - 70px);
  }
}

.companion__name--offline::before,
.companion__name--online::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  //left: -20px;
  top: 50%;
  transform: translateY(-4px);

  @media @only-mobile {
    right: 0;
  }
}

.companion__name--offline::before {
  background-color: @salmon;
}

.companion__name--online::before {
  background-color: @green-apple;
}

.companion__like {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 0;
  background-color: @pale-grey;
  background-image: url("../img/sprite.svg#heart-dark-blue-grey");
  background-size: 13px 11px;
  background-position: center;
  background-repeat: no-repeat;

  @media @only-tablet {
    width: 50px;
    height: 50px;
    background-size: 20px 17px;
  }
}

.companion__like--avtive {
  background-image: url("../img/sprite.svg#heart-active-tomato");
}

.companion__tags {
  list-style: none;
  padding: 0;
  margin: 0 auto 27px;
  width: calc(100% - 64px);
  text-align: center;
}

.companion__tags .tags__item {
  display: inline-block;
}

.companion__tags .tags__link {
  font-size: 20px;
  line-height: 1.2;
  color: @greyish-brown;
  text-decoration: none;

  &::before {
    content: "#";
  }
}
