.level--dark .level__value {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: @white;
  position: absolute;
  width: 25px;
  height: 19px;
  margin-top: 14px;
  margin-left: 17.5px;

  &::after {
    content: "level";
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: 22px;
    left: -3px;
    width: 31px;
    border-top: 1px solid @white-3;
    text-align: center;
    padding-top: 3px;
  }
}
