{%- set isInnerPage = true -%}
{%- from "blocks/logo/logo.html" import logo -%}
{%- from "blocks/level/level.html" import level -%}
{%- from "blocks/transport-list/transport-list.html" import transport -%}
{%- from "blocks/tags/tags.html" import tags -%}
{%- from "blocks/places/places.html" import places -%}
{%- from "blocks/inline-svg/inline-svg.html" import inlineSvg -%}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сайт поиска попутчиков «Погнали» | Попутчики</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {%- set title = "Попутчики" -%}
  {% include "blocks/page-header/page-header.html" %}

  <main class="page-main">
    <section class="filter-countries">
      <h2 class="filter-countries__heading">Фильтрация по странам</h2>

      <div class="filter-countries__main">
        <a href="#" class="filter-countries__land filter-countries__land--active">Европа</a>
        <a href="#" class="filter-countries__land">Азия</a>
        <a href="#" class="filter-countries__land">Америка</a>
        <a href="#" class="filter-countries__land">Острова</a>

        <div class="filter-countries__alphabet">
          <a href="#" class="filter-countries__letter filter-countries__letter--col-1 filter-countries__letter--row-1 filter-countries__letter--active">А</a>
          <p class="filter-countries__list filter-countries__list--a">
            Австралия<br>
            Австрия<br>
            Азербайджан<br>
            Албания<br>
            Алжир<br>
            Ангола<br>
            Андорра<br>
            Антигуа и Барбуда<br>
            Аргентина<br>
            Армения<br>
            Афганистан
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-2 filter-countries__letter--row-1">Б</a>
          <p class="filter-countries__list">
            Багамские Острова<br>
            Бангладеш<br>
            Барбадос<br>
            Бахрейн<br>
            Белоруссия<br>
            Белиз<br>
            Бельгия<br>
            Бенин<br>
            Болгария<br>
            Боливия<br>
            Босния и Герцеговина<br>
            Ботсвана<br>
            Бразилия<br>
            Бруней<br>
            Буркина-Фасо<br>
            Бурунди<br>
            Бутан
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-3 filter-countries__letter--row-1">В</a>
          <p class="filter-countries__list">
            Вануату<br>
            Великобритания<br>
            Венгрия<br>
            Венесуэла<br>
            Восточный Тимор<br>
            Вьетнам
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-4 filter-countries__letter--row-1">Г</a>
          <p class="filter-countries__list">
            Габон<br>
            Гаити<br>
            Гайана<br>
            Гамбия<br>
            Гана<br>
            Гватемала<br>
            Гвинея<br>
            Гвинея-Бисау<br>
            Германия<br>
            Гондурас<br>
            Гренада<br>
            Греция<br>
            Грузия
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-5 filter-countries__letter--row-1">Д</a>
          <p class="filter-countries__list">
            Дания<br>
            Джибути<br>
            Доминика<br>
            Доминикана
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-1 filter-countries__letter--row-1">Е</a>
          <p class="filter-countries__list">
            Египет
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--empty">Ё</a>
          <a href="#" class="filter-countries__letter filter-countries__letter--empty">Ж</a>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-2 filter-countries__letter--row-2">З</a>
          <p class="filter-countries__list">
            Замбия<br>
            Зимбабве
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-3 filter-countries__letter--row-2">И</a>
          <p class="filter-countries__list">
            Израиль<br>
            Индия<br>
            Индонезия<br>
            Иордания<br>
            Ирак<br>
            Иран<br>
            Ирландия<br>
            Исландия<br>
            Испания<br>
            Италия
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--empty">Й</a>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-4 filter-countries__letter--row-2">К</a>
          <p class="filter-countries__list">
            Кабо-Верде<br>
            Казахстан<br>
            Камбоджа<br>
            Камерун<br>
            Канада<br>
            Катар<br>
            Кения<br>
            Кипр<br>
            Киргизия<br>
            Кирибати<br>
            Китай<br>
            Колумбия<br>
            Коморы<br>
            Конго<br>
            КНДР<br>
            Республика Корея<br>
            Коста-Рика<br>
            Кот-д’Ивуар<br>
            Куба<br>
            Кувейт
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-5 filter-countries__letter--row-2">Л</a>
          <p class="filter-countries__list">
            Лаос<br>
            Латвия<br>
            Лесото<br>
            Либерия<br>
            Ливан<br>
            Ливия<br>
            Литва<br>
            Лихтенштейн<br>
            Люксембург
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-1 filter-countries__letter--row-2">М</a>
          <p class="filter-countries__list">
            Маврикий<br>
            Мавритания<br>
            Мадагаскар<br>
            Малави<br>
            Малайзия<br>
            Мали<br>
            Мальдивы<br>
            Мальта<br>
            Марокко<br>
            Маршалловы Острова<br>
            Мексика<br>
            Мозамбик<br>
            Молдавия<br>
            Монако<br>
            Монголия<br>
            Мьянма
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-2 filter-countries__letter--row-2">Н</a>
          <p class="filter-countries__list">
            Намибия<br>
            Науру<br>
            Непал<br>
            Нигер<br>
            Нигерия<br>
            Нидерланды<br>
            Никарагуа<br>
            Новая Зеландия<br>
            Норвегия
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-3 filter-countries__letter--row-3">О</a>
          <p class="filter-countries__list">
            ОАЭ<br>
            Оман
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-4 filter-countries__letter--row-3">П</a>
          <p class="filter-countries__list">
            Пакистан<br>
            Палау<br>
            Панама<br>
            Папуа — Новая Гвинея<br>
            Парагвай<br>
            Перу<br>
            Польша<br>
            Португалия
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-5">Р</a>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-1 filter-countries__letter--row-3">С</a>
          <p class="filter-countries__list">
            Сальвадор<br>
            Самоа<br>
            Сан-Марино<br>
            Сан-Томе и Принсипи<br>
            Саудовская Аравия<br>
            Северная Македония<br>
            Сейшелы<br>
            Сенегал<br>
            Сент-Люсия<br>
            Сербия<br>
            Сингапур<br>
            Сирия<br>
            Словакия<br>
            Словения<br>
            США<br>
            Сомали<br>
            Судан<br>
            Суринам<br>
            Сьерра-Леоне
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-2 filter-countries__letter--row-3">Т</a>
          <p class="filter-countries__list">
            Таджикистан<br>
            Таиланд<br>
            Танзания<br>
            Того<br>
            Тонга<br>
            Тринидад и Тобаго<br>
            Тувалу<br>
            Тунис<br>
            Туркмения<br>
            Турция
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-3 filter-countries__letter--row-3">У</a>
          <p class="filter-countries__list">
            Уганда<br>
            Узбекистан<br>
            Украина<br>
            Уругвай
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-4 filter-countries__letter--row-3">Ф</a>
          <p class="filter-countries__list">
            Фиджи<br>
            Филиппины<br>
            Финляндия<br>
            Франция
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-5 filter-countries__letter--row-4">Х</a>
          <p class="filter-countries__list">
            Хорватия
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--empty">Ц</a>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-1 filter-countries__letter--row-4">Ч</a>
          <p class="filter-countries__list">
            Чад<br>
            Черногория<br>
            Чехия<br>
            Чили
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-2 filter-countries__letter--row-4">Ш</a>
          <p class="filter-countries__list">
            Швейцария<br>
            Швеция<br>
            Шри-Ланка
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--empty">Щ</a>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-3 filter-countries__letter--row-4">Э</a>
          <p class="filter-countries__list">
            Эквадор<br>
            Эритрея<br>
            Эсватини<br>
            Эстония<br>
            Эфиопия
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-4 filter-countries__letter--row-4">Ю</a>
          <p class="filter-countries__list">
            ЮАР<br>
            Южный Судан
          </p>
          <a href="#" class="filter-countries__letter filter-countries__letter--col-5 filter-countries__letter--row-4">Я</a>
          <p class="filter-countries__list">
            Ямайка<br>
            Япония
          </p>
          <div class="column-break column-break--1"></div>
          <div class="column-break column-break--2"></div>
          <div class="column-break column-break--3"></div>
          <div class="column-break column-break--4"></div>
          <div class="column-break column-break--5"></div>
        </div>
      </div>
    </section>
    <section class="filter-companions">
      <h2 class="filter-companions__heading">Подберите идеального попутчика</h2>

      <form action="https://echo.htmlacademy.ru">

        <details class="filter-companions__by-hobby filter-by-hobby">
          <summary id="filter-companions__by-hobby" class="filter-by-hobby__title">Хобби</summary>
          <fieldset>
            <legend aria-labelledby="filter-companions__by-hobby" class="visually-hidden"></legend>
            <input type="checkbox" name="hobby" id="hobby--option-1">
            <label for="hobby--option-1">Первая опция</label>
            <input type="checkbox" name="hobby" id="hobby--option-2">
            <label for="hobby--option-2">Вторая опция</label>
          </fieldset>
        </details>

        <details class="filter-companions__by-music-taste filter-by-music">
          <summary id="filter-companions__by-music-taste" class="filter-by-music__title">Музыка</summary>
          <fieldset>
            <legend aria-labelledby="filter-companions__by-music-taste" class="visually-hidden"></legend>
            <input type="checkbox" name="music" id="music--hard-rock">
            <label for="music--hard-rock">Тяжелый рок</label>
            <input type="checkbox" name="music" id="music--russian-rap">
            <label for="music--russian-rap">Русский рэп</label>
            <input type="checkbox" name="music" id="music--eurodance">
            <label for="music--eurodance">Евроденс</label>
          </fieldset>
        </details>

        <details class="filter-companions__by-food filter-by-food">
          <summary id="filter-companions__by-food" class="filter-by-food__title">Еда</summary>
          <fieldset>
            <legend aria-labelledby="filter-companions__by-food" class="visually-hidden"></legend>
            <input type="checkbox" name="food" id="food--option-1">
            <label for="food--option-1">Первая опция</label>
            <input type="checkbox" name="food" id="food--option-2">
            <label for="food--option-2">Вторая опция</label>
          </fieldset>
        </details>

        <details class="filter-companions__by-transport filter-by-transport">
          <summary id="filter-companions__by-transport" class="filter-by-transport__title">Транспорт</summary>
          <fieldset>
            <legend aria-labelledby="filter-companions__by-transport" class="visually-hidden"></legend>
            <input type="checkbox" name="transport" id="transport--plane">
            <label for="transport--plane">Самолётом</label>
            <input type="checkbox" name="transport" id="transport--bus">
            <label for="transport--bus">На автобусе</label>
            <input type="checkbox" name="transport" id="transport--bike">
            <label for="transport--bike">На велосипеде</label>
            <input type="checkbox" name="transport" id="transport--foot">
            <label for="transport--foot">Пешком</label>
          </fieldset>
        </details>

        <details class="filter-companions__by-level filter-by-level">
          <summary id="filter-companions__by-level" class="filter-by-level__title">Левел</summary>
          <fieldset>
            <legend aria-labelledby="filter-companions__by-level" class="visually-hidden"></legend>
            <input type="text" name="level" id="level--min" aria-label="Минимальный уровень">
            <input type="text" name="level" id="level--max" aria-label="Максимальный уровень">
          </fieldset>
        </details>

        <button type="submit" class="filter-companions__submit button button--white">Показать</button>
      </form>
    </section>

    <ul class="filtered-companions">
      {% for companion in companions %}
      {% include "blocks/companion/companion.html" %}
      {% endfor %}
    </ul>

    <div class="controls">
      <a href="#" class="controls__more">Показать еще</a>
      <a href="#" class="controls__button controls__button--previous">
        <span class="visually-hidden">Предыдущая страница</span>
      </a>
      <a href="#" class="controls__button controls__button--next ">
        <span class="visually-hidden">Следующая страница</span>
      </a>
    </div>
  </main>
  {% include "blocks/page-footer/page-footer.html" %}
  <script src="js/details.js"></script>
</body>

</html>