{%- set isInnerPage = true -%}
{%- from "blocks/select-direction/select-direction.html" import selectDirection -%}
{%- from "blocks/logo/logo.html" import logo -%}
{%- from "blocks/level/level.html" import level -%}
{%- from "blocks/transport-list/transport-list.html" import transport -%}
{%- from "blocks/tags/tags.html" import tags -%}
{%- from "blocks/places/places.html" import places -%}
{%- from "blocks/inline-svg/inline-svg.html" import inlineSvg -%}
{%- from "blocks/date-picker/date-picker.html" import datePicker -%}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сайт поиска попутчиков «Погнали» | Направления</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {%- set title = "Направления" -%}
  {% include "blocks/page-header/page-header.html" %}
  <main class="page-main">
    <section class="my-profile">
      {{ level("level--my my-profile", 80, 50, 3) }}

      {{ transport("transport-list--editable my-profile", myprofile.transport, true) }}

      <!-- adopt machine learning to provide more relevant image alts -->
      <picture class="my-profile__avatar">
        <source media="(min-width: 768px)" srcset="img/photo-account-tablet@1x.jpg 1x, img/photo-account-tablet@2x.jpg 2x">
        <source media="(min-width: 1440px)" srcset="img/demin-tablet@1x.jpg 1x, img/demin-tablet@2x.jpg 2x">
        <img src="img/photo-account-mobile@1x.jpg" alt="Аватарка">
      </picture>
      <a href="#" class="my-profile__change-avatar button">Сменить фото</a>

      {{ tags("my-profile", myprofile.tags, true) }}


    </section>

    <section class="schedules">
      <h2 class="schedules__heading">Мои планы:</h2>
      <ul class="schedules__list schedule-list">
        {% for schedule in myprofile.schedules %}
        {% include "blocks/schedule/schedule.html" %}
        {% endfor %}
      </ul>
    </section>

    <section class="new-schedule">
      <h2 class="new-schedule__heading">Добавить план:</h2>
      <section class="new-schedule__step step step-dates">
        <h3 class="step__heading">Шаг 1. Даты пребывания</h3>
        <form action="https://echo.htmlacademy.ru">
          <p class="step__description">
            Укажите предпочтительное количество попутчиков, которых
            вы хотели бы позвать в поездку и ее предполагаемую длительность.
          </p>
          <label for="new-schedule__companions" class="new-schedule__companions-label">ищу попутчиков:</label>
          <button type="button" class="new-schedule__remove new-schedule__remove--companion">
            <span class="visually-hidden">Убрать одного попутчика</span>
          </button>
          <input type="text" id="new-schedule__companions" class="new-schedule__companions" value=2>

          <button type="button" class="new-schedule__add new-schedule__add--companion">
            <span class="visually-hidden">Добавить одного попутчика</span>
          </button>
          <label for="new-schedule__duration" class="new-schedule__duration-label">Длительность:</label>
          <button type="button" class="new-schedule__remove new-schedule__remove--day">
            <span class="visually-hidden">Убрать один день</span>
          </button>
          <input type="text" id="new-schedule__duration" class="new-schedule__duration" value=2>
          <button type="button" class="new-schedule__add new-schedule__add--day">
            <span class="visually-hidden">Добавить один день</span>
          </button>
          
          <input type="checkbox" id="new-schedule__children-ok" class="children-ok" checked>
          <label for="new-schedule__children-ok" class="new-schedule__children-ok-label">Можно с детьми</label>

          {{ datePicker("new-schedule") }}
          <button type="submit" name="next-step" class="step__next button button--big">Следующий шаг</button>
        </form>
      </section>
      <section class="new-schedule__step step step-route">
        <h3 class="step__heading">Шаг 2. Маршрут</h3>
        <form action="https://echo.htmlacademy.ru">
          <p class="step__description">
            Укажите страны, которые вы хотели по посетить. Это может быть одна или сразу несколько.
          </p>
          {{ selectDirection(2) }}

          {{ selectDirection(4) }}
          <button type="submit" name="add-direction">Добавить страну</button>
          <button type="submit" name="next-step" class="step__next button button--big">Следующий шаг</button>
          <button type="submit" name="previous-step" class="step__previous button button--text">На шаг назад</button>
        </form>
      </section>
      <section class="new-schedule__step step step-fun">
        <h3 class="step__heading">Шаг 3. Развлечения</h3>
        <form action="https://echo.htmlacademy.ru">
          <p class="step__description">
            Наконец, расскажите о своих планах времяпровождения.
            Можно писать в свободной форме и ставить тэги.
          </p>
          <ul class="step-fun__verbal-schedule verbal-schedule">
            <li class="verbal-schedule__step verbal-step">
              <h4 class="verbal-step__heading">Босния и герцеговина</h4>
              <img src="img/sprite.svg#flag-bosnia" alt="Флаг Чехии" class="verbal-step__flag" width="35" height="24">
              <textarea name="verbal-step-1" id="" cols="30" rows="10" placeholder="План действий" class="verbal-step__description"></textarea>
            </li>
            <li class="verbal-schedule__step verbal-step">
              <h4 class="verbal-step__heading">Чехословакия</h4>
              <img src="img/sprite.svg#flag-czech" alt="Флаг Чехии" class="verbal-step__flag" width="35" height="24">
              <textarea name="verbal-step-2" id="" cols="30" rows="10"
                placeholder="План действий" class="verbal-step__description">Пить пиво и лазить по старым замкам, наслаждаться архитектурой и вот это все.</textarea>
            </li>
          </ul>
          <button type="submit" class="step__finish button button--big">Отправить</button>
          <button type="submit" name="previous-step" class="step__previous button button--text">На шаг назад</button>
        </form>
      </section>
    </section>


  </main>
  {% include "blocks/page-footer/page-footer.html" %}
  <script src="js/details.js"></script>
</body>

</html>
